.container{
    background-color: aqua;
    border: 2px;
    display: block;
}
#grid{
    margin-left: 400px;
    flex-direction: column;
    display: flex;
}
.row{
    border: solid 2px;
    border-color: red;
}
footer{
    background-color: blue;
}
.col-4, .col-8{
   flex-grow: 1;
   
}
.imgs{
    height: 80px;
    width: 100px;
    border-radius: 2px;
    border-color: blue;
    padding-left: 60px;
}
.list{
    list-style-type: none;
    flex-grow: 1;
    margin: 40px;
    padding: 30px;
    
}
.list{
    
    border: solid;
    height: auto;
    width: 300px;
    border: color 1px black ;
    border-radius: 2px;
}
.p{
    text-decoration: line-through;
}
