.img{
    border: solid;
    height: 100px;
    width: 200px;
}
.top{
    height: 10%;
    width: 100%;
    border: solid;

}
nav{
    height: auto;
    width:auto ;
    border: solid;
}
.a{
    border: solid;
}
.b{
    border: solid;
}
.c{
    border: solid;
}
.mid{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}
