body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    
}
.header img{
    width: 100%;
    height: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#head{
    column-count: auto;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 0px;

}
.page{
    margin-top: 0px;
    height: 20px;
    padding: 20px;
    border: 0;
    background-color: blueviolet;
    border-radius: 10px;
    border-color: blue;
}
.page1{
    flex-grow: 1;
    text-align: center;
}
.dropdown{
    nav-down: auto;

}
.notification{
    height: 300px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: blue;
    
}
#marquee{
    display: flex;
    height: 100%;
}
.gallery{
    margin-top: 0px;
    display: grid;
    height: fit-content;
    width: fit-content;
}
#news{
    display: flex;
    margin-top: 0px;
    height: 300px;
    width: 500px;
    margin-left:0;
}
.img1{
    height: 100%;
    width: 100%;
}
.img2{
    height: 100%;
    width: 100%;
}
.img3{
    height: 100%;
    width: 100%;
}
.accordion{
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    color: #fff;
    background-color: #dc2b2b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 1s;
  }
  
  .accordion-title:hover {
    background-color: #9a1616;
  }
  
  .accordion-content {
    background: lightgoldenrodyellow;
    display: none;
    padding: 10px;
  }
  
      .accordion-item.active .accordion-content{
        display: block;
      }
      .slider-container{
        width: 800px;
        position: relative;
        overflow: hidden;
        border: 1px solid #000;
      }
      .slider{
        display: flex;
      }
      .slider{
        flex: 0 0 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
      }
      .slide.active{
        transform: translateX(0);
      }
      .slider-controls{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .prev-slide,.next-slide{
        margin: 0 10px;
        
      }