body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    
}
.header img{
    width: 100%;
    height: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#head{
    column-count: auto;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 0px;
    height: 30px;
    padding-bottom: 25px;

}
#mid{
  align-content: center;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.page{
    margin-top: 0px;
    height: 20px;
    padding: 20px;
    border: 0;
    background-color: blueviolet;
    border-radius: 10px;
    border-color: blue;
}
.page1{
    flex-grow: 1;
    text-align: center;
}

.dropdown{
    nav-down: auto;

}
.notification{
    height: 300px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: blue;
    
}

#marquee{
    display: flex;
    height: 100%;
}
.gallery{
    margin-top: 0px;
    display: grid;
    height: fit-content;
    width: fit-content;
}
#news{
    display: flex;
    margin-top: 0px;
    height: 300px;
    width: 500px;
    margin-left:0;
}
.img1{
    height: 100%;
    width: 100%;
}
.img2{
    height: 100%;
    width: 100%;
}
.img3{
    height: 100%;
    width: 100%;
}
.accordion{
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    color: #fff;
    background-color: #dc2b2b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 1s;
  }
  
  .accordion-title:hover {
    background-color: #9a1616;
  }
  
  .accordion-content {
    background: lightgoldenrodyellow;
    display: none;
    padding: 10px;
  }
  
.accordion-item.active .accordion-content{
display: block;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#news{
  flex-grow: 1;
}
.slideshow-container{
  flex-grow: 4;
  margin-top: 0px;
}


